In [19]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from datetime import datetime

In [20]:
data = pd.read_csv('movie_bd_v5.csv')
data.head(3)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015

In [21]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [22]:

answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# Создаем столбец "profit"
data['profit'] = data.revenue - data.budget 

# Создадим функцию счетчик
def genres_count(genres):
    '''Функция принимает на вход колонку 'genres'
    
    преобразует ее словарь-счетчик и подсчитывает 
    
    количество жанров
    ______________________________________________
    
    The function takes the "genres" column as input,
    
    converts its dictionary counter and counts it
    
    number of genres
    
    '''
    list_of_genres = [] # создем пустой список жанрв для каждого фильма в датасете
    for gen in genres:
        gen = gen.split('|') # преобразуем стрковый тип содержания ячейки 'genres' в список
        list_of_genres += gen
    count = Counter(list_of_genres)
    print (count)

# Преобразуем дату в формат по datetime

data.release_date = data.release_date.apply(lambda x: datetime.strptime(x, '%m/%d/%Y')) # по правилам форматирования 
data.release_date = data.release_date.apply(lambda x: x.strftime('%B')) # Называем месяцы вместо числовых значений

# Иницилизируем отдельные датафремы (дфлее ДФ) с "расщепленными" значениями в столбцах, чтобы не было путаницы 
# Сначала создадим копию датасета data

#1 Столбец genres (dt_genres)
dt_genres = data.copy()
dt_genres.genres = dt_genres.genres.str.split('|')
dt_genres = dt_genres.explode('genres')

#2 Столбец director (dt_director)
dt_director = data.copy()
dt_director.director = dt_director.director.str.split('|')
dt_director = dt_director.explode('director')
dt_director

#2.1 ДФ для 14 вопроса
# Здесь "расщеплены" 2 столбца: director и genres
dt_14 = dt_genres.copy()
dt_14.director = dt_14.director.str.split('|')
dt_14 = dt_14.explode('director')
dt_14

#3 Столбец cast
dt_cast = data.copy()
dt_cast.cast = dt_cast.cast.str.split('|')
dt_cast = dt_cast.explode('cast')
dt_cast

# 4 Стобец production_companies (pc)
dt_pc = data.copy()
dt_pc.production_companies = dt_pc.production_companies.str.split('|')
dt_pc = dt_pc.explode('production_companies')


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [23]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [24]:
# +

# тут пишем ваш код для решения данного вопроса:
max_budget = data.groupby(['original_title', 'imdb_id'])['budget'].max().sort_values(ascending=False).index[0]
max_budget

('Pirates of the Caribbean: On Stranger Tides', 'tt1298650')

ВАРИАНТ 2

In [25]:
# Вполне возможно, что так проще, но первое, что пришло в голову был варинат 1
max_budget_var2 = data.loc[data['budget'] == data['budget'].max()]
# чтобы не выводить всю строку выбираем нужные нам столбцы.
# столбец 'imdb_id' указан для доп проверки ответов из предложенных. А то мало ли чего...
max_budget_var2[['imdb_id', 'original_title', 'budget' ]]

       imdb_id                               original_title     budget
723  tt1298650  Pirates of the Caribbean: On Stranger Tides  380000000

# 2. Какой из фильмов самый длительный (в минутах)?

In [26]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = 'Gods and Generals (tt0279111)'

In [27]:
# +

max_runtime = data[data['runtime'] == data['runtime'].max()]
max_runtime['original_title']

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [28]:
# +

answers['3'] = 'Winnie the Pooh (tt1449283)'
min_runtime = data.loc[data['runtime'] == data['runtime'].min()]
min_runtime[['imdb_id', 'original_title', 'runtime']]

       imdb_id   original_title  runtime
768  tt1449283  Winnie the Pooh       63

# 4. Какова средняя длительность фильмов?

In [29]:
# +

answers['4'] = '110'
mean_runtime = data.runtime.mean()
round(mean_runtime)

110

# 5. Каково медианное значение длительности фильмов?

In [30]:
# +

answers['5'] = '107'
median_runtime = data.runtime.describe()
median_runtime.loc['50%']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [31]:
# лучше код получения столбца profit вынести в Предобработку что в начале

# +
answers['6'] = 'Avatar (tt0499549)'
max_profit = data.loc[data['profit'] == data['profit'].max()]
max_profit[['imdb_id', 'original_title', 'profit']]

       imdb_id original_title      profit
239  tt0499549         Avatar  2544505847

# 7. Какой фильм самый убыточный?

In [32]:
# +

answers['7'] = 'The Lone Ranger (tt1210819)'
min_profit = data.loc[data['profit'] == data['profit'].min()]
min_profit[['imdb_id', 'original_title', 'profit']]

# Неожиданно...

        imdb_id   original_title     profit
1245  tt1210819  The Lone Ranger -165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [33]:
# +

answers['8'] = '1478'
big_revenue = data[data['revenue']>data['budget']]
print (len(big_revenue))

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [34]:
# +

answers['9'] = 'The Dark Knight (tt0468569)'
best_cass = data[(data.release_year == 2008)&(data['profit'].max())].sort_values('profit', ascending=False)
best_cass[['original_title', 'imdb_id', 'release_year']].iloc[0]

original_title    The Dark Knight
imdb_id                 tt0468569
release_year                 2008
Name: 599, dtype: object

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [35]:
# +

answers['10'] = 'The Lone Ranger (tt1210819)'
worse_cass = data[(2012 <=data.release_year)&(data.release_year<=2014)].sort_values('profit')
worse_cass[['original_title', 'imdb_id', 'release_year']].iloc[0]

original_title    The Lone Ranger
imdb_id                 tt1210819
release_year                 2013
Name: 1245, dtype: object

# 11. Какого жанра фильмов больше всего?

In [36]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

# +
answers['11'] = 'Drama'
count_genres = dt_genres.genres.value_counts() # Здесь используется уже "расщепленный" по жанрам ДФ
count_genres.head(3)

Drama       782
Comedy      683
Thriller    596
Name: genres, dtype: int64

ВАРИАНТ 2

In [37]:
count_genres_2 = genres_count(data.genres) # Реализация через словарь-счетчик

Counter({'Drama': 782, 'Comedy': 683, 'Thriller': 596, 'Action': 582, 'Adventure': 415, 'Crime': 315, 'Romance': 308, 'Family': 260, 'Science Fiction': 248, 'Fantasy': 222, 'Horror': 176, 'Mystery': 168, 'Animation': 139, 'Music': 64, 'History': 62, 'War': 58, 'Western': 19, 'Documentary': 8, 'Foreign': 2})

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [38]:
# -
answers['12'] = 'Adventure'
genres_profit = dt_genres.groupby(['genres'])['profit'].sum()
genres_profit.sort_values(ascending=False).head(3)
# не понял я немного "чаще всего"...

genres
Adventure    86070466981
Action       80187900065
Comedy       59774752721
Name: profit, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [39]:
# +

answers['13'] = 'Peter Jackson'
director_profit = dt_director.groupby(['director'])['profit'].sum().sort_values(ascending=False)
director_profit.head(3)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
Name: profit, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [40]:
# +

answers['14'] = 'Robert Rodriguez'
film_action = dt_14[dt_14.genres.str.contains('Action')]
film_action = film_action.director.value_counts()
film_action.head(3)

Robert Rodriguez      9
Michael Bay           7
Paul W.S. Anderson    7
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [41]:
# +

answers['15'] = 'Chris Hemsworth'
film_2012 = dt_cast[dt_cast['release_year'] == 2012]
film_2012 = film_2012.groupby(['cast'])['revenue'].max()
film_2012.sort_values(ascending=False).head(5)

cast
Scarlett Johansson    1519557910
Chris Evans           1519557910
Chris Hemsworth       1519557910
Robert Downey Jr.     1519557910
Mark Ruffalo          1519557910
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [42]:
# +

answers['16'] = 'Matt Damon'
mean_budget = data.budget.mean() #среднее значение (расчитываем его из общего ДФ) 
high_budget = dt_cast[dt_cast['budget'] > mean_budget] # А здесь значения берутся из ДФ по актерам (dt_cast)
high_budget = high_budget.cast.value_counts(ascending=False)
high_budget.head(3)

Matt Damon        18
Adam Sandler      17
Angelina Jolie    16
Name: cast, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [43]:
# +

answers['17'] = 'Action'
nic_film = dt_14[dt_14.cast.str.contains('Nicolas Cage')] # Здесь нам подойдет ДФ для 14 вопрсоа
nic_film = nic_film.genres.value_counts(ascending=False)
nic_film.head(3)

Action      19
Thriller    17
Drama       12
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [44]:
# +

answers['18'] = 'K-19: The Widowmaker'
min_profit =dt_pc[dt_pc.production_companies.str.contains('Paramount Pictures')] # здесь значения из ДФ по компаниям
min_profit = min_profit.groupby(['original_title'])['profit'].min()
min_profit.sort_values().head(3)

original_title
K-19: The Widowmaker   -64831034
Timeline               -60519261
Next                   -51788987
Name: profit, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [45]:
# +

answers['19'] = '2015'
max_sum_rev = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False)
max_sum_rev.head(3)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [46]:
# +

answers['20'] = '2014'
wb_films = dt_pc[dt_pc.production_companies.str.contains('Warner Bros')]
wb_films = wb_films.groupby(['release_year'])['profit'].sum().sort_values(ascending = False)
wb_films.head(3)

release_year
2014    2292949646
2007    2201675217
2008    2134595031
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [47]:
# +

answers['21'] = 'Сентябрь'
month_sum = data.release_date.value_counts(ascending=False)
month_sum.head(3)

September    227
December     190
October      186
Name: release_date, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
# +

answers['22'] = '450'
sammer_film = data.query('release_date in ["June", "July", "August"]')
sammer_film.imdb_id.nunique()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [49]:
# +

answers['23'] = 'Peter Jackson'
# Здесь нам пригодится ДФ по режиссерам (dt_director)

# Оставим только зимние месяцы 
winter_films = dt_director.query('release_date in ["December", "January", "February"]')
winter_films.director.value_counts().head(5)

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Martin Scorsese      4
Nancy Meyers         4
Name: director, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [50]:
# +

answers['24'] = 'Four By Two Productions'

need_columns = ['original_title', 'production_companies'] # Можно для удобства сократить ДФ 
dt_24 = dt_pc[need_columns].copy() # Здесь будем использовать ДФ по компаниям (dt_pc)
dt_24['tit_len'] = dt_24['original_title'].apply(len) # Создаем новый столбец и применяем функцию len

big_title = dt_24.groupby('production_companies').tit_len.mean().sort_values(ascending=False)
big_title.head(3)

# Удобство не пригодилось

production_companies
Four By Two Productions    83.0
Jim Henson Company, The    59.0
Dos Corazones              47.0
Name: tit_len, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [51]:
# +

answers['25'] = 'Midnight Picture Show'

# Здесь будем применять лямбду, и в ней же будем применять к аргументу метод .split()
dt_25 = dt_pc.copy()
dt_25['overview_len'] = dt_25['overview'].apply(lambda line: len(line.split(' ')))
big_overview = dt_25.groupby('production_companies').overview_len.mean().sort_values(ascending=False)
big_overview.head(3)

production_companies
Midnight Picture Show             175.0
Room 9 Entertainment              161.0
Heineken Branded Entertainment    161.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [52]:
# +

answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

one_persent = data['vote_average'].quantile(q=0.99)
vote_films = data[data['vote_average'] > one_persent]
vote_films['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [53]:
# +

answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'

from itertools import combinations
#  Я до конца не разобрался в этой библиотеке, но что-то получилось 
#  Да, да... с подсказками...

# Создаем ДФ для задания 27
dt_27 = data.copy()

# Создаем пустой счетчик пар (соглсно ответам, ищем пары)
pair = Counter()

# Теперь проходим по всему ДФ циклом for 
for line in range(0, len(dt_27)):
    actor = dt_27.cast[line].split('|') # в итоге переменная actor будет являться списком актеров фильма
    
    # Теперь применяя combinations будем составлять уникальные пары из элементов списка 
    for art_men in list(combinations(actor, 2)):
        # и добавлять в счетчик пар
        if art_men not in pair:
            pair[art_men] = 1
        else:
            pair[art_men] += 1
            
pair.most_common(3)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7)]

ВАРИАНТ 2

Дедлайн я просрочил на 1 день. Но я вернусь сюда позже и добавлю варинат 2 когда его додумаю...

# Submission

In [54]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '...',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Adventure',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': '2015',
 '20': '2014',
 '21': 'Сентябрь',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [55]:
# и убедиться что ни чего не пропустил)
len(answers)

27

Верных 26 из 27

Ошибка - 12 вопрос